<li>
    <div class="songBar">


    <div class="rankings">
        <span class='position'># <%= song.rank %> </span>
        <p class='streams'>(<%= song.streams %> streams)</p>
    </div>

    <div class="titles">
        <span class='song'><%= song.title %> </span>
        <p class='artist'><%= song.artist %> </p>
    </div>

    <div class ="info">
        <span class="date">puplication date: <%= song.publicationDate %>  </span>
    </div>


</div>
</li>





