<%- include( '../partials/header') %>
<body>
    <div class="button">
    <button type="button"><a href=""onclick="">Previous</a></button>
    <button type="button"><a href="#">Next</a></button>
    </div>
<div class="container">
    
<p class="title"><%= song.title %></p>
<p class="artist"><%= song.artist %> </p>
<p class="streams"><%= song.streams %></p>
</div>
</body>
<%- include( '../partials/footer') %>